{{#if label}}
  <label class="{{ class }}">
    {{ label }}
    <input type="{{ type }}" placeholder="{{ placeholder }}" name="{{ name }}" />
  </label>
{{else}}
  <input class="{{ class }}" type="{{ type }}" value="{{ value }}" placeholder="{{ placeholder }}" name="{{ name }}" />
{{/if}}
